body, html {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

body, html, textarea {
  font-family: Arial;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
body{
   /*background-color: #ffaaaa;*/
}
div, textarea{
  box-sizing: border-box;
}
#wrapper {
  width: 100%;
  height: 100%;
  min-height: 100%;
  background-image: url(../img/cork_1.png);
  opacity: 0.90;
}
#controls{
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  padding: 5px 10px;
  background: #9999ff;
  opacity: 0.7;
}


.notes {
  background: url(brown_papersq.png);
  width: 150px;
  height: 150px;
  position: absolute;
  padding: 0;
  box-shadow: 3px 3px 7px #888;
}
.close{
  position: absolute;
  top:0;
  right: 0;
  z-index: 2;
  background-color: #ffffff;
}
.ui-icon{
  display: inline-block;
  padding: 0;
  border: 0;
}
textarea {
  width: 100%;
  height: 100%;
  resize: none;
  background: inherit;
  pointer-events: auto;
  display: none;
  /*outline: none;*/
  border: 0;
  padding: 5px;
}

h1, h2, h3, h4 {
  font-size: 1.2em;
  margin: 0.2em 0;
}

h2, h4 {
  font-style: italic;
}

ul {
  list-style-position: inside;
  padding-left: 5px;
}

blockquote {
  margin-left: 15px;
}

.marked {
  /* width: 100%;
  height: 100%; */
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  width: inherit;
  height: inherit;
  overflow: auto;
}
hr{
  border-style: solid;
  border-color: #333; 
  margin: 0 1em;
}  

table{
  border-collapse: collapse;
}
td,th{
  border: 1px solid black;
  padding: 5px 10px;
}
th{
  background: #eeffee;
}

code{
  font-size: 12px;
}